## Exercise 1:
Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [9]:
import pandas as pd 
ds = pd.Series([1,12,15,20])
print(ds)

0     1
1    12
2    15
3    20
dtype: int64

## Exercise 2
Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [8]:
lst = ds.tolist()
print(lst)

[1, 12, 15, 20]

## Exercise 3
 Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [ ]:
ds1=pd.Series([2,4,6,8,10])
ds2= pd.Series([1,3,5,7,9])

# add two pandas series
ds_add= ds1+ds2

# substract two pandas series
ds_sub = ds1-ds2

# multiple two pandas series 
ds_mul = ds1*ds2

# display the results
print(f'ds1+ds2:\n{ds_add}\nds1-ds2:\n{ds_sub}\nds1*ds2:\n{ds_mul}')

ds1+ds2:
0     3
1     7
2    11
3    15
4    19
dtype: int64
ds1-ds2:
0    1
1    1
2    1
3    1
4    1
dtype: int64
ds1*ds2:
0     2
1    12
2    30
3    56
4    90
dtype: int64

# Exercise 4
Write a Pandas program to convert a dictionary to a Pandas series.

Sample Series: 

Original dictionary:
`{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}`

Converted series:
```
a    100
b    200
c    300
d    400
e    800
dtype: int64 
```

In [15]:
dic = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ds_dic = pd.Series(dic)
print(f'Converted series:\n{ds_dic}')

Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

# Exercise 5
Write a Pandas program to convert a NumPy array to a Pandas series

Sample Series: 

NumPy array: `np.array([10, 20, 30, 40, 50])`

Converted Pandas series:
```
0    10
1    20
2    30
3    40
4    50
dtype: int64
```

In [17]:
import numpy as np
arr = np.array([10, 20, 30, 40, 50])
pd.Series(arr)

0    10
1    20
2    30
3    40
4    50
dtype: int64

# Exercice 6:
Write a Pandas program to change the data type of given a column or a Series.

Sample Series: 

Original Data Series:
```
0       100
1       200
2    python
3    300.12
4       400
dtype: object
```
Change the said data type to numeric:
```
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64
```

In [29]:
data_series = pd.Series(['100', '200', 'python', '300.12', '400'])

print (f"original data series\n{data_series}\ndata series converted to numeric:\n{ pd.to_numeric(data_series,errors='coerce')}")

original data series
0       100
1       200
2    python
3    300.12
4       400
dtype: object
data series converted to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

# Exercise 8

Write a Pandas program to convert the first column of a DataFrame as a Series.

```
Original DataFrame
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>
```

In [38]:
data_frame = pd.DataFrame({'col1':[1,2,3,4,7,11], 'col2':[4,5,6,9,5,0], 'col3':[7,5,8,12,1,11]})
data_serie = data_frame['col1']
data_serie
print(f'Original DataFrame:\n{data_frame}\n\n1st column as a Series:\n{data_serie}')

Original DataFrame:
   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

1st column as a Series:
0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64

# Exercise 9
 Write a Pandas program to convert a given Series to an array.

```
Sample Output: 
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array
['100' '200' 'python' '300.12' '400']
<class 'numpy.ndarray'>
```

In [40]:
print(f"Original Data Series:\n{data_series}\nSeries to an array:\n{data_series.to_numpy()}")

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Series to an array:
['100' '200' 'python' '300.12' '400']

## Exercise 10:
Write a Pandas program to convert Series of lists to one Series.
```
Sample Output: 
Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object
```

In [43]:
ds_lst = pd.Series([['Red','Green','White'],['Red','Black'],['Yellow']])
lst = []
for index, value in ds_lst.items():
    for elm in value:
            lst.append(elm)
ds_1st = pd.Series(lst)
print(f'Original Series of list:\n{ds_lst}\nOne Series\n{ds_1st}')

Original Series of list:
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
One Series
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

# Exercise 11
Write a Pandas program to sort a given Series.

```
Sample Output:
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object
```

In [45]:
print(f'Original Data Series:\n{data_series}\nSorted Data Series\n{data_series.sort_values()}')

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Sorted data series
0       100
1       200
3    300.12
4       400
2    python
dtype: object

# Exercise 12:
Write a Pandas program to add some data to an existing Series.

```
Sample Output: 
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object
```

In [48]:
data_series2 = pd.concat([data_series,pd.Series(['500','php'])])
print(f'Original Data Series:\n{data_series}\nData Series after adding some data:\n{data_series2}')

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
0       500
1       php
dtype: object